<div id="cart1" class="container" *ngIf="cartitem.length==0">
    <div class="row">
        <div class="col">
            <img class="img-empty" src="https://www.clickbazar.com/Images/empty-cart.gif" alt="">
            <h3 class="m-3">Your Cart is Empty</h3>
            <button class="btn btn-primary" routerLink="/">Shop Now</button>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let product of cartitem, let i=index">
                        <td>{{i+1}}</td>
                        <td>{{product.title}}</td>
                        <td><img [src]="product.image" alt=""></td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="m-5" style="float: right;">
                <button class="btn btn-danger m-3">Empty Cart</button>
                <button class="btn btn-success">Shope More</button>
                <button class="btn btn-warning m-3">Check Out</button>
                <b>Grand Total:1,800</b>
            </div>
        </div>
    </div>
</div>
