img{
    width: 100px;
}
.img-empty{
    width: 600px;
    margin-left: 350px;
    margin-top: 50px;

}
table,tr,th{
    margin-top: 150px;
    padding: 30px;
    border: 2px solid black;
}
h3{
    text-align: center;
}
button{
    margin-left: 600px;
}