/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap');


body{
    font-family: 'Noto Sans Display', sans-serif;
} */



.card-img-top{
    width: 150px;
    height: 300px;
}

.card-img-top:hover{

    transform: scale(1.25);
    transition: 0.5;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.py-5{
    margin-top: 50px;
}

#cart1{
    margin-top: 100px;
}